.language-switcher {
  .lang-switcher-mobile {
    .lang-list {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;

      li {
        color: $black;
        font-weight: 600;
        padding: 0 0.5rem;
        text-transform: uppercase;
        border-right: 1px solid $gray-400;

        &:last-child {
          border-right: none;
        }

        a {
          color: $black;
          font-weight: 300;
          text-decoration: none;
        }
      }
    }
  }
}