node_modules/
npm-debug.log
yarn-error.log

/.cache
/.vscode
/.sass-cache

storybook-static/

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.backup
*.bak
*.orig
*~


*.log

*.sqlite3
*.db
*.csv

*.cache

*.zip
*.rar


.pnpm-store
.pnpm-workspace.yaml


/node_modules/.pnpm
/pnpm-lock.yaml
/shrinkwrap.yaml
