<div class="{{ classes }} image-zoom">
  {% include "../image/image.html.twig" with {
    src: src,
    alt: alt,
    title: title,
    width: width,
    height: height,
  } %}
</div>

{# <div class="featured-article__image--credit">
  <a href="https://unsplash.com/@fiveamstories" target="_blank">
    <span>Photo by: </span>Alex Shutin
    </a>
</div> #}
