{% if breadcrumb %}
  <nav aria-label="breadcrumb">

    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb-item">
        {% if loop.first and icon_name %}
          {% include "../icon/icon.twig" with {
              icon_name: icon_name,
              size: 'medium'
          } %}  
        {% endif %}
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}

