<footer class="mt-auto">
    <section class="bg-gray-200 text-dark pt-5">
        <div class="container">
            <div class="row mb-4 text-center text-md-start">
                <div class="col-md-4">
                    <h2 class="h2">Lorem Ipsum</h2>
                    <h3 class="h3 mb-4 mb-md-4">— dolor</h3>
                </div>
                <div class="col-md-4">
                    <div class="mb-4 mb-md-4">
                        <div class="mb-2">
                            <time datetime="2025-01-14T11:23:17+01:00" title="Vendredi 14 janvier 2025 - 11:23" class="datetime">14 janvier 2025</time>
                            <br> <a href="#" class="link-dark">My latest blog entry</a>
                        </div>
                        <div class="mb-2">
                            <time datetime="2025-01-01T11:07:38+01:00" title="Vendredi 01 janvier 2025 - 11:07" class="datetime">01 janvier 2025</time>
                            <br> <a href="#" class="link-dark">My first blog post!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="mb-1">
                            <a href="#" class="link-dark mb-1">What is Lorem Ipsum?</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="link-dark mb-1">Why do we use it?</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="link-dark mb-1">Where does it come from?</a>
                        </li>
                        <li class="mb-1">
                            <a href="#" class="link-dark mb-1">Where can I get some?</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="text-center mb-3">
                        <a href="https://www.instagram.com/xxxx/" class="me-2 d-inline-block" data-bs-toggle="tooltip" data-bs-title="Me suivre sur Instagram!" aria-label="Me suivre sur Instagram!" data-bs-original-title="Me suivre sur Instagram!">
                            <div class="icon-featured icon-featured--md icon-featured-hover rounded text-indigo" style="font-size: 1.5em;">
                                <i class="bi bi-instagram icon"></i>
                            </div>
                        </a>
                        <a href="https://www.threads.net/xxxx" class="me-2 d-inline-block" data-bs-toggle="tooltip" data-bs-title="Me suivre sur Threads!" aria-label="Me suivre sur Threads!" data-bs-original-title="Me suivre sur Threads!">
                            <div class="icon-featured icon-featured--md icon-featured-hover rounded text-dark" style="font-size: 1.5em;">
                                <i class="bi bi-threads icon"></i>
                            </div>
                        </a>
                        <a href="https://www.facebook.com/xxxx" class="me-2 d-inline-block" data-bs-toggle="tooltip" data-bs-title="Me suivre sur Facebook!" aria-label="Me suivre sur Facebook!" data-bs-original-title="Me suivre sur Facebook!">
                            <div class="icon-featured icon-featured--md icon-featured-hover rounded text-blue" style="font-size: 1.5em;">
                                <i class="bi bi-facebook icon"></i>
                            </div>
                        </a>
                        <a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="Contact me" aria-label="Me contacter" data-bs-original-title="Me contacter">
                            <div class="icon-featured icon-featured--md icon-featured-hover rounded text-dark" style="font-size: 1.5em;">
                                <i class="bi bi-envelope-at icon"></i>
                            </div>
                        </a>
                    </div>
                    <p class="text-center small">
                        <a href="#" class="link-dark">General condition</a> -
                        <a href="#" class="link-dark">Confidentiality</a>
                    </p>
                    <p class="text-center small">
                        Copyright
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"></path>
                        </svg>
                        2025 by Your awsome team.
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
