.icon-featured {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	font-size: 1.5em;

	&-hover {
		transition: transform 0.3s ease;

		&:hover{
			transform: scale(1.1);
		}
	}

	// hover transition only font-size: TODO


	
	&.icon-featured-icon {
		&#{&}--small {
			font-size: 1rem;
		}	
	}

    // &#{&}--small {
    //     font-size: 1rem;
	// }

	// &#{&}--large {
	// 	width: 2rem;
	// 	height: 2rem;
    //     font-size: 2rem;
	// }

	// &#{&}--x-large {
	// 	width: 3rem;
	// 	height: 3rem;
    //     font-size: 3rem;
	// }
}
